#banner {
  justify-content: center;
  background: url("/assets/imgs/bg-banner.jpg") no-repeat;
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    background: var(--background);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  h1 {
    text-transform: uppercase;
    font: var(--f-f-title);
    margin-block: 1rem;
    span {
      color: var( --primary-200);
    }
  }
  p {
    font: var(--f-f-xl);
    width: 30.625rem;
  }
  .btn {
    background: var(--primary-200);    
    color: var(--neutral-900);
    margin-top: 1.75rem;
    svg path {
      fill: var(--neutral-900);
    }
  }
}
.tag {
  padding: .25rem 1.125rem;
  width: 15rem;
  background: var(--neutral-100);
  border-radius: 2.5rem;
  position: relative;
  span {
    font: var(--f-f-m);
    font-weight: var(--f-w-bold);
    color: var(--neutral-900);
  }
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
      from
      var(--angle),
      var(--primary-100),
      var(--neutral-100),
      var(--neutral-100),
      var(--neutral-100),
      var(--primary-100)
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: .25rem;
    border-radius: inherit;
    animation: 3s spin linear infinite;
  }
}
.banner-content {
  text-align: center;
  flex-direction: column;
  z-index: 2;
  margin-block: 9.0625rem;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
@media (max-width: 37.5rem) {
  #banner {
    background-position: center;    
    h1 {
      font-size: var(--f-s-t-s);
    }
    p {
      font: var(--f-f-m);      
      width: 18rem;
    }
  }
  .tag {
    padding: .2rem;
    span {
      font: var(--f-f-m);
      font-weight: var(--f-w-bold);
    }
  }
  .banner-content {
    margin-block: 9.6875rem;
  }
}