#more {
    padding-inline: 3.75rem;        
    & .subtitle {        
        margin-inline: auto;
        flex-direction: column;        
        max-width: 34.5rem;
        h2 {
            font: var(--f-f-h4);
        }
        p {
            max-width: 32.75rem;
        }
    }
}
.more {
    flex-wrap: wrap;        
}
.more-tags {
    flex-direction: column;   
    width: 13.6875rem;    
    p {
        font: var(--f-f-h2);
        color: var(--primary-200);
    }
    span {
        font: var(--f-f-xl);
        color: var(--neutral-200);
    }
}
.carousel {
    position: relative;
    width: 100%;  
    height: 38.75rem;  
    overflow: hidden;
    border-radius: .625rem;
    margin-top: 3rem;
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: var(--neutral-900);
        border: none;
        color: var(--neutral-100);
        font-size: .9375rem;
        padding: .625rem 1rem;
        cursor: pointer;
        border-radius: 50%;
        z-index: 2;
        &.prev {
            left: .625rem;
        }
        &.next {
            right: .625rem;
        }
    }
}
.slide {
    min-width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}
.dots {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    background: var(--neutral-900);  
    padding: .4rem;
    border-radius: 2.5rem;    
    gap: .625rem;  
    span {
        width: .625rem;
        height: .625rem;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        &.active {
            background: var(--neutral-100);
        }
    }
}
.premium {
    margin-block: 5.5rem;    
    .carousel {
        width: 40rem;        
        height: 26.25rem;
        img {
            height: 22.375rem;        
            width: inherit;                
            border-radius: .5rem;
        }        
    }
}
.premium-content {
    flex-direction: column;
    width: 28rem;    
    gap: 2.5rem;
    h3 {
        font: var(--f-f-h3);
        color: var(--primary-200);
        text-transform: uppercase;
    }
    figure {
        gap: 1rem;
        img {            
            background: var(--primary-500);
            border-radius: .5rem;                        
            padding: 1rem;                          
        }
        figcaption {
            font: var(--f-f-m);
        }
    }
    & figure:last-child img {
        padding: 1.1rem 1.2rem;
    }
}
@media (max-width: 37.5rem) {
    #more {
        padding-inline: .5rem;
    }    
    .more-tags {          
        width: 10.3125rem;           
        margin-bottom: 1rem;
        p {
            font: var(--f-f-h3);            
        }
        span {
            font: var(--f-f-l);            
        }
    }
    .carousel {
        height: 13.6875rem;    
    }
    .dots {
        bottom: .25rem;
        left: 40%;
        gap: .5rem;
        span {
            width: .5rem;
            height: .5rem;
        }
    }
    .premium {        
        flex-direction: column;        
        .carousel {
            width: 100%;
            height: 13.625rem;            
            img {
                object-fit: cover;                
            }
        }
    }
    .premium-content { 
        width: 21.75rem;            
        text-align: center;
        h3 {
            font: var(--f-f-h4);
        }       
        figure {
            flex-direction: column;
            width: 16.25rem;            
        }
        & figure:last-child img {
            padding: 1.1rem;
        }
    }
}