.flex {
    display: flex;
}
.f-a-center {
    align-items: center;
}
.f-j-btw {
    justify-content: space-between;
}
.hidden {
    display: block;
}
@media (max-width: 37.5rem) {
    .hidden {
        display: none;
    }   
}