header {
    display: grid;      
    grid-template-columns: 12.5rem 1fr;        
    grid-template-rows: repeat(2, 1fr);    
    align-items: center;
    padding-inline: 2.5rem;
}
.logo {
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 1.375rem;
    font-weight: var(--f-w-bold);
    color: var(--primary-200);             
    gap: .5625rem;
    &:hover {
        color: var(--primary-200);             
    }
}
.infos {
    grid-column: 2/3;
    grid-row: 1/2;
    font: var(--f-f-s);
    color: var(--neutral-200);    
    border-bottom: 1px solid var(--neutral-800);
    padding-block: .625rem;        
    figure {        
        gap: .5rem;  
    }
    img {
        width: 1.125rem;
    }
}
.contacts  {
    gap: 3rem;
    a {        
        gap: .5rem;  
    }
}
nav {
    grid-column: 2/3; 
    grid-row: 2/3;
    padding-block: .75rem;
}
.nav-links {
    gap: 3.5rem;
    & a {
        position: relative;        
        animation: all 2s ease-in-out;        
    }
}
.services {
    position: relative;
    .nav-services {
        position: absolute;
        top: 1.4375rem;
        left: -.3125rem;
        background: var(--neutral-900);        
        border-radius: .5rem;
        border: 1px solid var(--neutral-700);        
        display: none;
        & li {
            margin-bottom: .3rem;
        }         
    } 
    svg {
        width: .75rem;
        transition: all .4s ease-in-out;
    }    
    /* aparecer o menu services no desktop
        &:hover .nav-services {
        display: block;
        }
    */
    &:hover {
        path {            
            fill: var(--neutral-200);    
        }
        svg {
            rotate: 180deg;
        }
    }
}
@media (max-width: 37.5rem) {
    header {
        grid-template-columns: 8fr 1fr;        
        grid-template-rows: 3.125rem auto; 
        padding-inline: .5rem;        
    }
    .menu {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: .75rem;              
        div {
            height: .125rem;
            width: 1.25rem;
            background: var(--neutral-500);
            border-radius: .5rem;
            margin-bottom: .5rem;
        }
    }
    .logo {        
        grid-row: 1/2;
    }    
    nav {           
        grid-column: 1/4;     
        grid-row: 2/3;          
        .btn {
            display: none;
        }
    }
    .nav-links {
        flex-direction: column;
        font: var(--f-f-h5-1);
        width: 100%;
        row-gap: .5rem;
        display: none; /*exibe itens do menu */
        li {
            padding-block: .3rem .8rem;
            border-bottom: 1px solid var(--neutral-800);                                      
        }
        & li:last-child {
            border: none;
        }
    }
    .services {
        position: initial;                
        .nav-services {
            position: initial;
            border: none; 
            background: none;
            display: flex;                               
            flex-wrap: wrap;                           
            li {
                margin: .2rem;
                justify-content: start;
                padding: .25rem 1.25rem;
                border-radius: 4.25rem;
                background: var(--neutral-800);                
            }
        }        
        svg {
            display: none;
        }
    }
    .infos {        
        grid-column: 1/4;
        grid-row: 3/4;
        background: var(--neutral-900);
        flex-direction: column;           
        align-items: start;
        border-radius: .5rem;
        padding: .75rem 1rem;
        gap: .75rem;     
        display: none; /*exibe itens do menu */
    }
    .contacts {
        gap: .75rem;        
        flex-direction: column-reverse;        
        align-items: start;
    }
}