#navigation {
    display: grid;      
    grid-template-columns: 12.5rem 1fr;        
    grid-template-rows: repeat(2, 1fr);    
    align-items: center;
    padding-inline: 3rem;
}
.logo {
    grid-column: 1/2;
    grid-row: 1/3;    
    font: 900 1.375rem/120% var(--font-secondary);
    color: var(--primary-200);             
    gap: .5625rem;
    &:hover {
        color: var(--primary-200);             
    }
}
.infos {
    grid-column: 2/3;
    grid-row: 1/2;
    font: var(--f-f-s);
    color: var(--neutral-200);    
    border-bottom: .0625rem solid var(--neutral-800);
    padding-block: .625rem;    
    position: relative;        
    figure {        
        gap: .5rem;  
    }
    img {
        width: 1.125rem;
    }
}
.line {
    height: .0625rem;
    width: 18.75rem;
    background: var(--neutral-800);
    rotate: 45deg;
    position: absolute;
    top: 3.125rem;
    left: -9.0625rem;
}
.contacts  {
    gap: 3rem;
    a {        
        gap: .5rem;
        font-weight: var(--f-w-r);
    }
}
nav {    
    grid-column: 2/3; 
    grid-row: 2/3;
    padding-block: .625rem;
    margin-left: 6.25rem;
}
.nav-links {
    gap: 3.5rem;
    & a {
        animation: all 2s ease-in-out;        
    }
}
.services {
    position: relative;
    svg {
        width: .75rem;
        transition: all .4s ease-in-out;
    }        
    &:hover .nav-services {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    &:hover {
        svg {
            rotate: 180deg;
        }
        path {            
            fill: var(--neutral-200);    
        }
    }
}
.nav-services {
    position: absolute;
    z-index: 3;
    top: 1.925rem;
    left: -1rem;
    width: 7.5rem;
    background: var(--neutral-900);        
    border-radius: .5rem;
    border: .0625rem solid var(--neutral-700);        
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility 0s linear .3s;
    & li {
        margin: .3rem;
        padding: .2rem;
        border-radius: .2rem;
        &:hover {
            background: var(--neutral-800);
        }
        a {
            font-weight: var(--f-w-r);
        }
        &:hover a {
            color: var(--neutral-100);
        }
    }         
} 
@media (max-width: 37.5rem) {
    #navigation {
        grid-template-columns: 8fr auto;        
        grid-template-rows: auto;         
        padding: .5rem .3rem;        
    }
    header#navigation nav.flex,
    .infos {
        display: none;
    }
    .menu {
        grid-column: 2/3;
        grid-row: 1/2;                
        div {
            align-self: center;
            height: .125rem;
            width: 1.25rem;
            background: var(--neutral-500);
            border-radius: .5rem;
            margin-block: .5rem;
        }
    }
    .logo {        
        grid-column: 1/2;
        grid-row: 1/2;
    }
    nav {
        grid-column: 1/4;
        margin-left: 1rem;               
    }
    .nav-links {
        flex-direction: column;        
        font: var(--f-f-h5-1);
        row-gap: .5rem;     
        width: 100%;                     
        li {
            padding-block: .3rem .3rem;
            border-bottom: .0625rem solid var(--neutral-800);            
        }
        & li:last-child {
            border: none;
        }
    }
    .services {
        position: initial;                           
        .nav-services {
            font: var(--f-f-m);       
            display: flex;
            flex-wrap: wrap;
            position: initial;
            border: none; 
            background: none;  
            opacity: 1;
            visibility: visible;              
            width: 100%;            
            li {
                margin: .2rem;
                justify-content: start;
                padding: .25rem 1.25rem;
                border-radius: 4.25rem;
                background: var(--neutral-800);                
            }
        }        
        svg {
            display: none;
        }
    }
    .infos {        
        grid-column: 1/4;
        grid-row: 3/4;
        background: var(--neutral-900);
        flex-direction: column;           
        align-items: start;
        border-radius: .5rem;
        padding: .75rem 1rem;
        gap: .75rem;       
        margin-bottom: 4rem;              
    }
    .contacts {
        gap: .75rem;        
        flex-direction: column-reverse;        
        align-items: start;
    }
}